### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets